<br>

<!-- <div class="container"> -->
<div class="panel panel-default">

  <!-- <div class= "row-main-heading"> -->
  <div class= "panel-heading">
      <h1>Bloccitoff</h1>
      <p>A self-destructing to-do list to keep you focused on the things that really matter</p>
  </div>

  <!-- <div class="row-main-content"> -->
    <div class="panel-body">
    <div class="col-md-6 body">
      <h2>Create to-do items that you want to remember.</h3>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary' %>
    </div>

    <div class="col-md-6 body">
      <h2>Blocitoff will keep to-do lists manageable</h3>
      <h3>Automatically deleting to-do items that have not been completed after 7 days</h2>
      <%= link_to "Log in", new_user_session_path, :class => 'btn btn-primary' %>
    </div>
  </div>

</div>
