<h1>Bloccitoff</h1>
<p>A self-destructing to-do list to keep you focused on the things that really matter</p>

<!-- Use Case
To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put off. To address the problem of to-do list clutter, you will create Blocitoff.

Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days. The hypothesis is that if the to-do item is not important enough to be completed in seven days, it doesn't belong on your to-do list.
 -->
